Host *
     ServerAliveInterval 120

# Hosts on the internet.
Host ph2
     HostName ph2.guruprasad.org
     Port 122
     User root

Host tux
     HostName tux.guruprasad.org
     Port 122
     User guruprasad

Host matrix
     HostName matrix.lgp.sh
     Port 122
     User guruprasad

Host web
     HostName web.guruprasad.org
     Port 122
     User guruprasad

Host rsync.net
     HostName zh2375.rsync.net
     User zh2375

# Hosts on the LAN.
Host rpi4-4
     HostName rpi4-4.lan
     User guruprasad

Host rpi4-4-ip
     HostName 192.168.2.3
     User guruprasad

Host rpi4-8
     HostName rpi4-8.lan
     User guruprasad

Host tesseract
     HostName tesseract.lan
     User guruprasad

{{- if or (eq .chezmoi.hostname "precious") (eq .chezmoi.hostname "kal-el") }}
Include ~/.ssh/canonical_config
{{- end }}
